SWM.NETNAME = em1
SWM.LISTENTPORT = 45000
#SWM_SERVER.LIST 不能换行 ip:port,ip:port
SWM_SERVER.LIST = 192.168.100.11:22919,192.168.100.56:22919

SWM.PROCESS_THREADS = 10
SWM.LOG_FILE_PATH = ./log
SWM.LOG_FILE  = SWManager.log
SWM.LOG_SIZE = 50
SWM.LOG_NUM = 256
#[error   = 1;warn    = 2;info    = 3;debug   = 4;trace   = 5; ]
SWM.LOG_LEVEL = 3

#sec
SWM.ALIVE_INTERVAL=25