body{font-size:14px}
TH{FONT-SIZE:14px}
TD{ FONT-SIZE:14px}
INPUT {
FONT-SIZE:14px;  FONT-FAMILY:"Verdana","Arial","����"; HEIGHT:21px; BACKGROUND-COLOR: #FFFFFF
}
TEXTAREA {
FONT-SIZE:14px;  FONT-FAMILY:"Verdana","Arial","����"; BACKGROUND-COLOR: #FFFFFF;
}
SELECT {
FONT-SIZE:13px; BACKGROUND-COLOR: #FFFFFF;
}
