body,div,h1,h2,i,span,ul,li,a,p{margin:0px;padding:0px;}
body{	
	width:1280px;
	height:720px;
	background: url("../images/bgpic.jpg") no-repeat;
	overflow: hidden;
	font-size: 20px;
	font-family: "黑体";
	color:#000;
}
.content{
	margin:55px 0px 0px 137px;
	width:1014px;
	height:644px;
}
.leftbar{
	width:412px;
	height:100%;
	float:left;
}
.rightbar{
	width:602px;
	height:100%;
	float:left;
}
h1{
	margin: 26px 0px 0px 54px;
	font-size: 36px;
	height:36px;
}
.playimg{
	width:316px;
	height:474px;
	margin:24px 0px 0px 50px;
}
.playimg img{
	border-radius:4px;
	width:316px;
	height:474px;
}
.button{
	width:340px;
	height:40px;
	line-height: 40px;
	text-align: center;
	margin:28px 0px 0px 40px;
	color:#fff;
}
.player{
	width:570px;
	height:385px;
	margin-top:33px;
}
.player video{
	width:570px;
	height:385px;
}
.text{
	width:570px;
	margin-top:25px;
}
h2{
	font-size: 30px;
	
}
.text span{
	text-indent: 3em;
	width:570px;
	display:block;
	height:161px;
	overflow: hidden;
	line-height:32px;
}
/*-----------------------------------------------------------------------------*/
.advert_page{
	width:1280px;
	height:720px;
	background:url("../images/advert_bg.jpg") no-repeat;
	overflow: hidden;
}
.contair{
	height:498px;
	margin:142px 0px 0px 138px;
}
.play_advert{
	width:731px;
	height:498px;
	float:left;
}
.ing_player{
	width:288px;
	float:left;
	margin-left:64px;
	overflow:hidden;
}
.title{
	margin: 53px 0px 0px 13px;
	white-space:nowrap;
	text-indent: -14px;
	color:#fff;
}
.poster{
	width:183px;
	height:275px;
	margin-top:36px;
	margin-left:54px;
}
.poster img{
	width:183px;
	height:275px;
	border-radius: 4px;
}
.advert{
	width:731px;
	height:408px;
}
.marquee{
	margin:56px 0px 0px 26px;
	width:700px;
	height:38px;
	font-size: 30px;
	color:#fff;
	overflow: hidden;
	
}
.advert video{
	width:731px;
	height:408px;
}
.runtext img{
	margin-bottom: -9px;
}
.tits{
	text-align:center;
	height:40px;
}
/*-----------------------------------------------------------------------------*/
.main{
	width:1280px;
	height:720px;
	background:url("../images/replace_bg.jpg") no-repeat;
	overflow: hidden;
}
.movie_main{
	width:316px;
	height:592px;
	margin: 131px 0px 0px 218px;
	float:left;
}
.movie_main img{
	width:316px;
	height:474px;
	border-radius: 10px;
	 -webkit-box-reflect: below 8px -webkit-linear-gradient(top,rgba(250,250,250,0),rgba(250,250,250,.0) 70%,rgba(250,250,250,0.3));
	 border:10px solid #e5e5e5;
	 margin: -10px;

}
.movie_introduce{
	width:479px;
	height:440px;
	margin:116px 0px 0px 52px;
	float:left;
}
.title_main{
	font-size: 48px;
	float: left;
	margin: 0px;
	height:48px;
	font-weight: 2;
}
.time{
	font-size: 30px;
	padding-top: 16px;
	float:left;
	font-weight: bold;
	text-indent: 10px;
}
.actor{
	height:90px;
	line-height:30px;
	margin-top: 10px;
	float:left;
	width:100%;
}
.actor li{
	height:30px;
	list-style: none;
	font-size: 24px;
}
.boldp{
	font-size: 30px;
	font-weight: bold;
	clear:both;
	padding-top: 20px;
	height:30px;
}
.plot{
	text-indent: 3em;
	font-size: 24px;
	line-height: 32px;
	margin-top: 5px;
	height:200px;
}
.go_maintext{
	height:40px;
	font-size: 30px;
	width:460px;
	color:#ff4747;
	overflow:hidden;
}
.tit{
	width:100%;
	height:40px;
}