/*[公共common*/
BODY {background-color: #FFFFFF;
   scrollbar-face-color: #ECECEC;
   scrollbar-highlight-color: #FFFFFF;
   scrollbar-shadow-color: #EBEBEB;
   scrollbar-3dlight-color: #B7B7B7;
   scrollbar-arrow-color:#BDBDBD;
   scrollbar-track-color:#EFEFEF;scrollbar-darkshadow-color: #C3C3C5;	
   margin:0px;margin-top:0px;background-color:transparent;
   
}
td,blockquote {	font-size:12px;line-height:180%;}
div {
	font-size:12px;
    line-height:180%;
 }
 div ul li{
 	font-size:12px;
 }
span
 {
	font-size:12px;
    line-height:180%;
 }
p {text-indent:24px;line-height:180%;}
select {border:solid 1px #F77929;font-size:12px;background-color:transparent;color:#000000; width: 60px;}
input {	font-size:12px;}
form {margin:0px;}

li {list-style-type:square;line-height:16px;}

.necessary{
		color: #FF3300
		}
.padding{ padding:6px;}

/*左菜单样式*/
.menu_1{background:url(../../images/apps/mis/images/1_left_list.jpg) repeat-x; height:27px; color:#000; padding-left:10px;font-weight:bold}
.menu_over{ background:url(../../images/apps/mis/images/1_menu_over.jpg) center no-repeat;}
.menu_2over{background-color:#F5F9FB; border:1px solid #B8DEF0;}
#table td{ height:28px; padding-left:20px}
/*
开始说明：字体样式
*/
.font_blue12 {color: #2E88E9;}
.font_blackb {font-weight:bold;}
.font_gary12 {color: #8B8B8B;}
.title1{font-family:"黑体";font-size:18px;height:40px;line-height:40px;}
.font-title{font-size:14px;font-weight:bold;height:40px;line-height:40px;}
.font_16{font-size:16px;}
.font_write12 {color: #fff;}
.font_write12b {color: #fff; font-size:12px; font-weight:bold;}
.box{ border:solid 1px #B9CAD2; border-top:0px; padding:6px;}
/*开始说明：默认超链接样式*/
a:link {color: #000;text-decoration: none;line-height: 18px;}
a:visited {color: #000;text-decoration: none;line-height: 18px;}
a:active {color:#000;text-decoration:none;line-height: 18px;}
a:hover {color: #3D6096;text-decoration: underline;line-height: 18px;}
/*白色12链接样式*/
a.write:link{color: #fff;text-decoration: none;}
a.write:visited {color: #fff;text-decoration: none;}
a.write:active {color:#fff;text-decoration:none;}
a.write:hover {color: #fff;text-decoration: underline;}
/*兰色12粗链接样式*/
a.blue12:link{color: #0044DD;text-decoration: none;}
a.blue12:visited {color: #0044DD;text-decoration: none;}
a.blue12:active {color:#0044DD;text-decoration:none;}
a.blue12:hover {color: #ff6600;text-decoration: underline;}

/*兰色12粗链接样式:下划线存在*/
a.blue13:link{color: #0044DD; text-decoration: underline; font: bold;}
a.blue13:visited {color: #0044DD; text-decoration: underline; font: bold;}
a.blue13:active {color:#0044DD; text-decoration: underline; font: bold;}
a.blue13:hover {color: #ff6600; text-decoration: underline; font: bold;}

/*黑色粗链接样式:下划线存在*/
a.specialA:link {color: #000;text-decoration: underline;line-height: 18px;font-weight: bold;}
a.specialA:visited {color: #000;text-decoration: underline;line-height: 18px;font-weight: bold;}
a.specialA:active {color:#000;text-decoration: underline;line-height: 18px;font-weight: bold;}
a.specialA:hover {color: #3D6096;text-decoration: underline;line-height: 18px;font-weight: bold;}
/*按钮样式*/
.btn_1{	background:url(../../images/apps/mis/images/1_btn_bg1.gif);height:21px;color:#000; text-align:center;	border: 0px; cursor:hand; padding:2px 3px 0 3px;width:43px}

.input{ border:#CCCCCC solid 1px;}
.input01{ border:#6589AE solid 1px;}

/*表格样式 color:#000;*/
#box{ border:solid 1px #BFC7CA;}

.table_title{background:url(../../apps/mis/images/1_tab_tit.jpg); height:26px; color:#000; padding-left:5px}

.tab_over{color:#284DA4; height:24px; padding-left:5px; background:url(../../images/apps/mis/images/1_tab_over.gif) repeat}
.table_1{background-color:#F7F7F7; color:#000; height:24px; padding-left:5px}
.table_2{background-color:#fff;    color:#000; height:24px; padding-left:5px;}


#table1 td{padding-left:5px; height:26px;line-height:26px;}
#tablebox{border:1px solid #D4D0C8;height:30px;line-height:30px;}
#tablebox .tbale01-left{border-right:1px solid #BED6E0;border-bottom:1px solid #BED6E0;background:#EBF4FF;height:30px;line-height:30px;padding:0 5px;}
#tablebox .tbale01-right{border-bottom:1px solid #BED6E0;background:#EBF4FF;height:30px;line-height:30px;padding:0 5px;}
#tablebox .tbale02-left{border-right:1px solid #BED6E0;border-bottom:1px solid #BED6E0;background:#fff;height:30px;line-height:30px; padding:0 5px;}
#tablebox .tbale02-right{background:#fff;height:30px;border-bottom:1px solid #BED6E0;line-height:30px;padding:0 5px;}
#tablebox .tbale01-left-bottom{border-right:1px solid #BED6E0;background:#EBF4FF;height:30px;line-height:30px; padding:0 5px;}
#tablebox .tbale01-right-bottom{background:#EBF4FF;height:30px;line-height:30px; padding:0 5px;}
#tablebox .tbale02-left-bottom{border-right:1px solid #BED6E0;background:#fff;height:30px;line-height:30px; padding:0 5px;}
#tablebox .tbale02-right-bottom{background:#fff;height:30px;line-height:30px; padding:0 5px;}

/*表格样式2*/
.tab{color:#fff;height:26px;}
.tab03{background:url(images/bg03.gif) repeat-x left; height:25px; line-height:25px;border-bottom:1px solid #BECFD6; border-right:1px solid #8E98A3; color:#666; font-weight:bold; padding-left:5px;}

.tab01{border-bottom:1px solid #BECFD6; border-right:1px solid #BECFD6; height:25px; line-height:25px; padding-left:5px;}
.tab02{border-bottom:1px solid #BED6E0; border-top:1px solid #BECFD6; border-right:1px solid #BED6E0; height:25px; line-height:25px; padding-left:5px;background:#EBF4FF;}

.tab04{color:#666; font-weight:bold;}
.input-line{border-bottom:1px solid #000;border-top:1px solid #fff;border-left:1px solid #fff;
            border-right:1px solid #fff; color:#0033CC;text-align: center;}
/*页面提示样式*/
#tabover{ background:url(../../images/apps/mis/images/1_tab1.gif) no-repeat;width:100px;text-align:center;cursor:hand; padding-top:3px; height:23px}
#tabout{border-bottom: solid 1px #BFC7CA;}

/*新增*/
.btn_1{	background:url(../../images/apps/mis/images/1_btn_bg1.gif);height:21px;color:#000; text-align:center;	border: 0px; cursor:hand; padding:2px 3px 0 3px;width:43px}
img{	border: 0;}

.td-left {
	width: 60px;
}

.td-right {
	width: 140px;
}
table caption {
	 font-size: 12px;
	 text-align: center;
	 height:40px;
	 color:#000000;
	 padding-left:5px;
	 font-weight: bold;
	 
	  
}
.tb-list {
				border-color: #C3BFB3;
				border-collapse: collapse;
				border-left-width: 1px;
				border-right-width: 1px;
				border-top-width: 1px;
				}