<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>struts-default.xml,struts-plugin.xml,struts/struts.xml,struts/msi.struts.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>*.do</url-pattern>		    
	    <dispatcher>REQUEST</dispatcher>   
		<dispatcher>FORWARD</dispatcher>   
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<!-- Spring	 配置文件-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:context/applicationContext.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>prod.nebula.msi.web.listener.MsiContextLoaderListener</listener-class> 
	</listener>
	
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>msi</param-value>
	</context-param>
	
	<session-config>	
        <session-timeout>60</session-timeout>
    </session-config>
    
    <welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
    	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>
  	<distributable/>
</web-app>