<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean name="msiScheduler" class="prod.nebula.msi.web.scheduler.MsiScheduler" >
	</bean>
	
	<bean id="heartbeatChannelCenter" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="msiScheduler" />
				<property name="targetMethod" value="heartbeatChannelCenter" />
				<property name="concurrent" value="false" />
			</bean>
		</property>
		<property name="startDelay" value="1" />
		<property name="repeatInterval" value="${scheduler.channelcenter.heartbeat.ms}" />
	</bean>
	<!-- 	CronTriggerBean -->
	<bean id="cleanQrCodeImg" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="msiScheduler" />
				<property name="targetMethod" value="cleanQrCodeImg" />
				<property name="concurrent" value="false" />
			</bean>
		</property>
		<property name="cronExpression" value="${scheduler.msi.clean.qrcode.img.cron}" />
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no" lazy-init="false">
		<property name="triggers">
			<list>
				<ref bean="heartbeatChannelCenter"/>
				<ref bean="cleanQrCodeImg"/>
			</list>
		</property>
	</bean>
</beans>