@charset "utf-8";
/* CSS Document */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

body {  font: 12px/24px Arial,"\5b8b\4f53"; text-align:left;background:#fff url("../images/icon/bgwhite.png") repeat;color:#000; font-family:"HiraginoSansGB W3","Microsoft YaHei";width:100%;overflow:hidden}
body.detail {}
h2{
	font-size:22px;
}
a{color:#333;}
a:hover{text-decoration:none;}

/* =content -----------------------------------------------------------------------------*/
#stbid{ height:40px; width:100%; background:rgba(0,0,0,0.7); color:#FFF; text-align:center; line-height:40px; display:none; font-size:22px;}
#header {
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56b5fb), color-stop(100%,#0392fc));	box-shadow:0 1px 0px 0 rgba(0,0,0,.2);*/
	background:#333 url("../images/icon/bgdark.png") repeat;
	height:40px;
	line-height:40px;
	font-size:22px;
	color:black;
	text-align:center;
	letter-spacing:5px;
	box-shadow: 0px 0px 5px #000;
	position:relative;
	/*border-top-left-radius:10px;
	border-top-right-radius:10px;
	font-weight:bold;*/
}
#header h1{
	display:inline-block;
	width:33%;	
	height:40px;
	float:left;
	overflow:hidden;
}
#header h1.logo{
	text-indent:-9999px;
	border-right:1px solid #000;
	-moz-background-size:30px 30px;
	-webkit-background-size:30px 30px;
	-o-background-size:30px 30px;
	background-size:30px 30px;
}
#header h1.menu{
	background:url(../images/icon/menu.png) center center no-repeat;
	-moz-background-size:30px 30px;
	-webkit-background-size:30px 30px;
	-o-background-size:30px 30px;
	background-size:30px 30px;
}
#header h1.usr{
	background:url(../images/icon/usr.png) center center no-repeat;
	-moz-background-size:30px 30px;
	-webkit-background-size:30px 30px;
	-o-background-size:30px 30px;
	background-size:30px 30px;
}
#header h1.back {
	background:url(../images/icon/back.png) left center no-repeat;
	-moz-background-size:30px 30px;
	-webkit-background-size:30px 30px;
	-o-background-size:30px 30px;
	background-size:30px 30px;
	text-align:left;
	text-shadow: 1px 0px 1px #fff;
	font-size:22px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	letter-spacing: 1px;
	color:#fff;
	padding-left:10%;
	width:50%;	
} 
.subheader{
	padding:5px;
}

#header h1.search{
	float:right;
	margin-right:10%;
	background: url("../images/icon/search.png") right center no-repeat;
			-moz-background-size:30px 30px;
	-webkit-background-size:30px 30px;
	-o-background-size:30px 30px;
	background-size:30px 30px;
	height: 40px;
	border:none;
	overflow:hidden;
}
#header h1.mainpage{
	float:right;
	width:20%;
	margin-right:10%;
	background: url("../images/icon/mainpage.png") right center no-repeat;
	-moz-background-size:30px 30px;
	-webkit-background-size:30px 30px;
	-o-background-size:30px 30px;
	background-size:30px 30px;
	border:none;
	height: 40px;
	overflow:hidden;
}
#header .search a{
	display:block;
	width:100%;
	height:100%;
}


#header .title{
	display:block;
	overflow:hidden;
	letter-spacing: 5px;
	}
#header .hover{
	background:rgba(0,0,0,.7);
	position:relative;
	left:5px;
	top:2px;
	right:2px;
	height:36px;
	width:97%;
}
.sBorder{
	height:2px;
	background-color:#CECECE;
	}
.nav{
	font-size: 20px;
	color: #515151;
	background: #F3F3F3; 
	font-weight: bold;
	}


.movielist{
	width:100%;
	background-color:#fff;
	/*overflow:hidden;*/
	margin:0;
}	
.movielist .item{
	border-bottom:1px solid rgb(127,127,127);
	padding:2px 10px;
}
.movielist .item.clone{
	display:none;
}
.movielist .item >a{
	display:block;
	text-decoration:none;
}
.movielist .item >a:hover{
	background-color:rbg(208,205,200)
}
.movielist .item >a .img{
	float:left;
	margin-right:10px;
}
.movielist .img	,.movielist .img img{
	width:95px;
	height:150px;
	max-height: 150px;
	max-width: 95px;
}
.movielist .item h2{
	padding:20px 0 0;
}
.movielist .item p{
	line-height:30px;
	height:30px;
}
.movielist .item .star{
	text-align:right;
	color:rgb(236,105,65);
	margin:-20px 0 15px;
	padding:0;
	font-size:20px;
}
#hot {
	height:146px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0ddda), color-stop(49%,#f5f4f3), color-stop(50%,#ebe7e6), color-stop(100%,#ddd9d3));
	text-align:center;
	padding:20px 0;
	position:relative;
	overflow:hidden;
	width:100%;
}
#hotCon {
	position:absolute;
	left:55%;
	top:20px;
	margin-left:-615px;
	height:140px;
	overflow:hidden;
}
#hot img {
	margin:0 20px;
}

#menu0,#menu1,#menu2 {
	height:40px;
	/*background-color:#000;
	border-bottom:10px solid #DFE2E6;
	color:#fff;*/
	line-height:40px;
}
#menu0 li,#menu1 li,#menu2 li {
	float:left;
	width:25%;
	text-align:center;
	text-align:center;
	font-size:20px;
	cursor:pointer;
	height:38px;
}
#menu0 .focus,#menu1 .focus,#menu2 .focus {
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999998), color-stop(100%,#011827));*/
	color: rgb(233,74,14);
	border-bottom:2px solid rgb(233,74,14);
	font-size: 20px;
	letter-spacing: 5px;
	background:url("../images/film2.png") no-repeat 10% 52% / auto 20px;
	background:url("../images/film2.png") no-repeat 10% 52%;
	background-size:auto 20px;
	padding-left: 6.5%;
}

.consection{
	margin:5px;
}


#mainNav {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#D7D6D6));
	height:108px;
	font-size:22px;
	color:#908E8E;
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
	border-top:1px solid #C5C5C5;
	box-shadow: 0px 0px 15px #fff;
}
#mainNav li {
	float:left;
	width:33%;
	text-align:center;
	cursor:pointer;
}
#mainNav li img {
	display:block;
	margin:5px auto 3px;
}
#mainNav li .blue {
	display:none;
}
#mainNav .focus {
	color:#0185E6;
	border-bottom:8px solid #F9B202;
	height:100px;
}
#mainNav .focus .gray {
	display:none;
}
#mainNav .focus .blue {
	display:block;
}

.videoList {
	width:100%;
}
.videoList li {
	height:78px;
	cursor:pointer;
	position: relative;
	padding-top:10px;
}
.videoList  img {
	width:95px;
	float:left;
	margin:10px 0 0 3px;
}
.videoList .vod {
	margin:10px 0 0 10px;
}
.videoList .name {
	display:block;
	color:#000;
	font-size:16px;
	margin:0 0 0 122px;
}
.videoList .namevod {
	float:left;
	color:#000;
	font-size: 16px;
	margin: 30px 0 0 15px;
}
.videoList .now {
	display:block;
	color:#949494;
	font-size:14px;
	margin:16px 0 0 92px;
}

#detailInfo{
	height:auto;
	color:#fff;
	overflow:hidden;
	padding:20px 10px;
	background: rgb(50,58,69) url("../images/icon/bgdark.png") repeat;
}
#detailInfo .img {
	float:left;
	/*border:2px solid #595959;*/
	margin-right:10px;
}
#detailInfo ul {
	float:left;
	width: 50%;
	display:inline-block;
	padding:0 0;
	font-size:14px;
	line-height:24px;
	color:rgb(248,181,81);
}
#detailInfo li > span{
	color:#fff;
}
#detail .item{
	display:none;
}
#detail .item:first-child{
	display:block;
}
#detail .title {
	font-size: 14px;
	line-height: 40px;
	font-weight: normal;
	height: 40px;
	padding-left:20px;	
}
#detail .de {
	font-size:14px;
	font-weight:normal;
	margin:0px 20px;
	text-indent:2em;
	padding:10px;
}
#detailBt {
	clear:both;
	border-bottom:1px solid #414141;
	height:40px;
	padding:0;
	overflow:hidden;	
	margin:0;
	background:#ccc url("../images/icon/bggray.png") repeat;	
}
#detailBt .logo{
	width:23%;
	padding:0 1%;
	height:40px;
	display:inline-block;
	margin:0;
	padding:0;
}
#detailBt .logo.xqlogo{
	background:url(../images/icon/xqlogo.png) center center no-repeat;
	-moz-background-size:30px 30px;
	-webkit-background-size:30px 30px;
	-o-background-size:30px 30px;
	background-size:30px 30px;
}
#detailBt .logo.pllogo{
	background:url(../images/icon/pllogo.png) center center no-repeat;
		-moz-background-size:30px 30px;
	-webkit-background-size:30px 30px;
	-o-background-size:30px 30px;
	background-size:30px 30px;
}
#detailBt .logo.fxlogo{
	background:url(../images/icon/fxlogo.png) center center no-repeat;
		-moz-background-size:30px 30px;
	-webkit-background-size:30px 30px;
	-o-background-size:30px 30px;
	background-size:30px 30px;
}
#detailBt .logo.sclogo{
	background:url(../images/icon/sclogo.png) center center no-repeat;
		-moz-background-size:30px 30px;
	-webkit-background-size:30px 30px;
	-o-background-size:30px 30px;
	background-size:30px 30px;
}
#detailInfo .play {
	width: 35%;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height:30px;
	float: left;
	color:#fff;
	background: lime url(../images/icon/play.png) left center no-repeat;
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-o-background-size:100% 100%;
	background-size:100% 100%;
	border-radius: 15px;
	margin:5px 0 0;
	text-decoration:none;
	-webkit-box-shadow: inset 0 -1px 1px #000;
	box-shadow: inset 0 -1px 1px #000;
}

#dvbLogo {
	height:56px;
	padding:10px;
	overflow:hidden;
	padding:
}

#dvbPlay {
	background-color:#000;
	padding:10px;
	height:36px;
	border-bottom:2px solid #fff;
	overflow:hidden;
}
#dvbLogo .play {
	float:right;
	overflow:hidden;
	display: inline-block;
	width: 30%;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	background-color: rgb(233,74,14);
	border-radius: 5px;
	color:#fff;
}

#date {
	background-color: #F3F3F3;
	width: 100%;
	float: left;
	padding: 0 8%;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
}
#date li {
	float:left;
	width:12%;
	text-align:center;
}
#date .focus {
	color:rgb(233,74,14);
	border-bottom:2px solid rgb(233,74,14);
}

.dvbList {
	clear:both;
	font-size:20px;
}
.dvbList li {
	border-bottom: 1px solid #808080;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	font-size: 14px;
}
.dvbList .time {
	margin:0 5%;
}
.dvbList .bt {
	border: 1px solid #9E9E9E;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F4F4), color-stop(100%,#C6C6C6));
	color: #000;
	font-size: 14px;
	float: right;
	margin: 2px 10%;
	height: 20px;
	line-height: 20px;
	padding: 2px 10px;
}

#code {
	margin:100px 0 0;
	color:#fff;
	font-size:24px;
	padding-left:50px;
	text-align:center;
	line-height:30px;
}
#code .text {
	width:100px;
	height:30px;
}
#code .submit {
	display:block;
	margin:100px auto 0;
	border:1px solid #fff;
	border-radius:5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5C700), color-stop(100%,#F8A800));
	width:80px;
	height:35px;
	line-height:16px;
	font-size:20px;
	font-family:Microsoft YaHei;
	color:#fff;
	cursor:pointer;
}
#unbind,
#goBack{
	display:block;
	height:40px;
	line-height:40px;
	letter-spacing:1px;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #DBDBDB), color-stop(100%, #737373));
	color:#FFF;
	border-radius:20px;
	padding:0px 20px;
	margin:15px 5px;
	float:left;
	border:1px solid #333;
	font-size:16px;
}

#unbind{ 
	float:right;
}

/*style of homepage*/
.homesection{
	height:225px;
	width:100%;
	overflow:hidden;
	margin:0;
}
.homesection.clone{
	display:none;
}
.sectionheader{
	height: 40px;
	line-height: 40px;
	width: 100%;	
	overflow: hidden;
	font-size: 20px;
	font-weight: bold;
	padding:0 5%;
	background:#ccc url("../images/icon/bggray.png") repeat;
	margin-bottom: 5px;
	/*padding-left:5%;	margin: 6px auto 12px;*/
}
.sectionheader h3{
	width:30%;
	display:inline-block;
}	

.sectionheader a.more{
	background:url("../images/icon/more.png") right center no-repeat;
	-moz-background-size:30px 30px;
	-webkit-background-size:30px 30px;
	-o-background-size:30px 30px;
	background-size:30px 30px;
	float: right;
	width: 50%;
	height: 40px;
	margin-right: 10%;
	}
.sectionheader .subtitle{
	display:block;
	width:40%;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color: rgb(233,74,14);
	border-bottom: 2px solid rgb(233,74,14);
	height: 38px;
	letter-spacing:5px;
	padding-left:12%;
	}
.gallery{
	height: 180px;
	width: 100%;
	padding:5px 0;
}
.gallery li{
	width:33%;
	display:inline-block;
	float:left;
	}
.gallery li>a{
	display:block;
	text-decoration: none;
	}
.gallery li>a img{
	display:block;
	margin:0 auto;
	max-height: 150px;
	max-width: 95px;
	width: 95px;	
	height: 150px;
	}
.gallery li>a h3{
	color: #5C5C5C;
	display: block;
	font-size: 16px;
	text-align: center;
}
.gallery li>a h3 small{
	font-size:12px;
}
.palybtn{
	background: url(../images/play.png) no-repeat;
	width: 128px;
	height: 52px;
	text-indent: -9999px;
	overflow: hidden;
	position:absolute;
	bottom:15%;
	right:10%;
	text-decoration:none;
	}
.focusitem{
	width:250px;
	height:196px;
	overflow:hidden;
	text-align:center;
	margin:0 auto;
	position:relative;
	}
.focuslink{
	display:block;
	}
.focusimg{
	width:250px;
	height:202px;
	}
.oneline{
	width: 100%;
	height: 180px;
	padding: 5px 0;
	}
.oneline .onePic{
	width:98%;
	margin:0 1%;
	height:160px;
	}
.oneline .onePic img{
	width:100%;
	height:160px;
	max-height:160px;
	}
.twoline{
	padding:5px 1%;
	width:100%;
	overflow:hidden;
	}
.twoline ul{
		height:95px;
	}
.twoline li{
	display:inline-block;
	float:left;
	width:50%;
	text-align:center
	} 
.twoline li a{
	display:block;
	}
.twoline img{
	width:90%;
	display: block;
	max-width:90%;
	height:95px;
	max-height:95px;
	}
.twoline li span{
	color: #5C5C5C;
	display: block;
	font-size: 16px;
	text-align: center
	}
/*云盘页面*/
.block{
	display:inline-block;
	width:45%;
	margin:10px 2%;
	height:150px;
	background-color:rgb(233,74,14);
	font-size:16px;
	font-weight:bold;
	}
.block a{
	display:block;
	width:100%;
	height:150px;
	text-align:center;
	padding-top:100px
	}
.setting{
	display:block;
	width:20%;
	height:35px;
	float:right;
	margin-right:5%;
	background:url('../images/bottom_bar_setting_normal.png') no-repeat 5% 40%;
	background-size:auto 30px;
	}
.loading{
	width:30%;
	float:left;
	margin-left:30%;
	}
.yunpan{
	background:url(../images/yunpan.png) no-repeat 50% 20%;
	background-size:auto 50px;
	}
.helpCenter{
	background:url(../images/help.png) no-repeat 50% 20%;
	background-size:auto 50px;
	}
.telephone{
	background:url(../images/service.png) no-repeat 50% 20%;
	background-size:auto 50px;
	}
/*搜索页面*/
.search_ipt{
	background-color:#F3F3F3;
	width:70%;
	margin:0 auto;
	float:left;
	height: 30px;
	padding-top: 3px;
	border-radius: 10px;
	padding-left: 5px;
	/*border-bottom: 2px solid rgb(233,74,14);	*/
	}
.search_btn{
	width:25%;
	float:left;
	margin-left:2%;
	background:url(../images/top_search_icon.png) no-repeat 2% 30%;
	background-size:auto 30px;
	height: 30px;
	margin-top: 3px;
	border-radius: 15px;
	}
.sheader{
	height: 40px;
	line-height: 40px;
	width: 100%;	
	overflow: hidden;
	font-size: 20px;
	background: #F3F3F3;
	font-weight: bold;
	margin:10px auto;	
	padding-left:5%;
	}
.sheader a {
	color:#5C5C5C;
	}
.jiemu{
	width:100%;
	padding:10px 5%;
	background:#fafafa;
	height:150px;
	color:#5C5C5C;
	font-size:16px;
	}
.jiemuList{
	width:85%;
	height:50px;
	}
.jiemu .jiemuList a {
	width:32%;
	height:23px;
	display:inline-block;
	float:left;
	text-align:center;
	color:#5C5C5C;
	 }
.flexslider{
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.flexslider .slides img{
	width:100%;
	height:200px;
	max-height:200px;
}
.flex-direction-nav{
	display:none;
} 
 .flex-control-nav {
	position:absolute;
	bottom:0;
	right:0;
    margin-top: 0px
}

 .flex-control-nav li {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 8px
}

 .flex-control-nav li a {
    display: block;
    width: 16px;
    height: 0;
    padding-bottom: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #d4d9dc;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear
}

 .flex-control-nav li a.flex-active,  .flex-control-nav li a:hover {
    background-color: rgb(241,145,73)
}