*{	padding:0;
    margin:0;}
body{
    margin:0;
    padding:0;
    font-size:38px;
    color:#fff;
    text-shadow:0 1px #000;
    font-weight:900
}
.container{
    width:1280px;
    height:720px;
    background:url(../img/exit.jpg);
    overflow:hidden;
}
p{
    padding-top: 0px;

    padding: 200px 0 0 150px;
    /* width: 350px; */
    line-height: 250%;
    letter-spacing: 2px;
}
.logo{
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 26px;
    font-weight:bold;
    color:#fff;
//text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de;
    text-shadow: 1px 1px rgba(197, 223, 248,0.8),2px 2px rgba(197, 223, 248,0.8),3px 3px rgba(197, 223, 248,0.8),4px 4px rgba(197, 223, 248,0.8),5px 5px rgba(197, 223, 248,0.8),6px 6px rgba(197, 223, 248,0.8);
}
.video{
    position: absolute;
    left: 375px;
    top: 162px;
    width:532px;
    height:366px;
}
.video video{
    width:532px;
    height:366px;
}
.playbtn{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/playbtn.png) left center no-repeat;
    background-size: 30px 30px;
    margin:0px 5px;
    vertical-align: text-top;
}