#切流器地址
strAdverIP = 192.168.100.11
iAdverPort = 20919
#高清承载地址
strNavIP = 192.168.100.11
iNavPort = 15174
#vgw地址
strVodIP = 192.168.100.11
iVodPort = 8577
#移动接入服务地址
strMsiIP = 192.168.100.11
iMsiPort = 18177
#SM地址
strMyServerIP = 192.168.70.120
iMSIServerPort = 20909

strVOD_KeyIP = 192.168.100.11:50732
#数据库地址名称
dbip = 192.168.100.11
dbname = mydb
dbuser = bbcv
dbpass = bbcv
#高清暂停
pauseurl = http://192.168.30.237:8080/NSCS/pause2.jsp
#高清确认退出
quiturl = http://192.168.30.237:8080/NSCS/exit.jsp
#高清退出
navgoback = http://192.168.30.237:8080/NSCS/subinter1.jsp 
#播流工具地址
advip = 192.168.100.56
muladvport = 21000
#高清广告
hdadvname = hd.ts
hdadvip = 225.0.0.1
hdadvport = 12000
#标清广告
sdadvname =
sdadvip =
sdadvport =
#标清承载地址
strsdNavIP = 192.168.200.204
isdNavPort = 15174
#高标清码率
hdrate = 4096
sdrate = 6144
#标清暂停
sdpauseurl = http://192.168.30.237:8080/NSCS/jsp/sd/pause2.jsp
#标清确认退出
sdquiturl = http://192.168.30.237:8080/NSCS/jsp/sd/exit.jsp
#标清退出
sdnavgoback = http://192.168.30.237:8080/NSCS/jsp/sd/subinter1.jsp
