RSM.AREA_ID = 0571
RSM.C_TYPE = PORTAL
RSM.VIDEO_TYPE = HD
#[VENDOR BLUELINK HASWELL]
RSM.VENDOR = BLUELINK
RSM.NETNAME = eth0
RSM.ENCODERNAME = /usr/local/bin/avencoder

RSM.CRSM_LISTENTPORT = 25000
RSM.VNC_LISTENTPORT = 30000

CRSM.IP = 192.168.200.23

CRSM.PORT = 15117

RSM.VID.QUOTA = all_720p
RSM.NUM.HD = 40
RSM.NUM.SD = 0
RSM.AUDIO = 1
#[at first gop is 5,after 5s ,gop change to 100 ]
RSM.GOP.SIZE = 5:100
RSM.VID.RATE = 4
RSM.CORE.NUMBER = 0
RSM.CORE.SUM = 0
RSM.SERVICEID = 124
RSM.PMT.PID = 2307
RSM.PMT.VID = 515
RSM.PMT.AID = 680
RSM.HEIGHT = 576
RSM.WIDTH = 720
	
CRSM.CPU.COUNT = 5
CRSM.MEM.COUNT = 5
CRSM.GPU.COUNT = 5
CRSM.GPUMEM.COUNT = 5
CRSM.CHECK.INTERVAL =2
CRSM.CPU.USAGE.UPPER = 80
CRSM.CPU.USAGE.LOWER = 70
CRSM.MEM.USAGE.UPPER = 80
CRSM.MEM.USAGE.LOWER = 70
CRSM.GPU.USAGE.UPPER = 99
CRSM.GPU.USAGE.LOWER = 70
CRSM.GPUMEM.USAGE.UPPER = 99
CRSM.GPUMEM.USAGE.LOWER = 70	

RSM.PRE.WEB = file:///opt/init.html
VNC.PRE.AMOUNT = 10

VNC.PORT = 63000
RSM.VNCSERVER.PORT = 5900
RSM.KEYLISTEN.PORT = 62000
RSM.PA.AMOUNT = 8
RSM.UID = 1000

RSM.LOG_FILE_PATH = ./log
RSM.LOG_FILE  = sourcemag.log
RSM.LOG_SIZE = 50
RSM.LOG_NUM = 256
#[error   = 1;warn    = 2;info    = 3;debug   = 4;trace   = 5; ]
RSM.LOG_LEVEL = 3

RSM.PROCESS_THREADS_AIM = 5
RSM.PROCESS_THREADS_VNC = 2


